.nav{
    background: RGBA(255,255,255,0.2);
    display: flex;
    align-Items: center;
    padding: 15px 0px;
    font-size:15px;
    justify-content: space-around;
    
}

.titleNav{
    margin: 0% 0% 0% 3%;
    font-family:Poppins;
    font-size: 20px;
}

.buttonGroup{
    gap: 2%;
}

.buttonNav{
    background-color: none;
    background: none;
    border: none;
    font-family: Poppins;
    font-size: 16px;
    text-transform: none;
}


.row{
    display: flex;
    flex-direction: row;
    display: inline-flex;
}

.buttonNavEnter{
    background-color: #F58968;
    background: #F58968;
    border: none;
    font-family: Poppins;
    font-size: 16px;
    text-transform: none;
    
}

.buttonNavRegister{
    background-color: none;
    background: none;
    border: none;
    font-family: Poppins;
    font-size: 16px;
    text-transform: none;
    color: #F58968;
    width: 100%;
    display: inline-flex;
}